html {
	font: normal normal normal 16px/150% -apple-system, BlinkMacSystemFont, 'PingFang SC', "Microsoft YaHei", 微软雅黑, 'STHeitiSC-Light', 'Arial', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	background: #FFF;
	color: #37474F;
}

body {
	margin: 0;
	position: relative;
	background: #FFF;
	font-size: 1rem;
	min-width: 20rem;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

section {
	position: relative;
	overflow: auto;
}

a {
	color: #555;
	transition: color .3s, background-color .3s;
}

a:hover {
	color: #000;
}

.text-light {
	color: #999;
}

.content p{
	margin-top: 1.5rem;
	margin-bottom: .5rem;
	font-size:.9rem;
	line-height:1.8;
}

.text-indent{
	text-indent: 2rem;
}

.content li{
	padding-left:2rem;
}

img {
	max-width: 100%;
}

video {
	width: 100%;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.hidden {
	display: none !important;
}

.middle {
	text-align: center;
}

.full {
	width: 100%;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 150%;
}

h2,
h3 {
	margin-top: 1rem;
	margin-bottom: .5rem;
	line-height: 150%;
}

img.full {
	width: 100%;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	text-align: justify;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

[data] {
	transition: opacity .5s;
}

.blur {
	opacity: 0;
}

:focus {
	outline: none;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.container {
	position: relative;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
}

header.page-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 4rem;
	padding: .5rem 0;
	box-sizing: border-box;
	z-index: 1024;
	font-size: 1rem;
	line-height: 1rem;
	pointer-events: none;
	transform: translateY(-4rem);
	transition: transform 1s 1s, background .5s;
}

nav.navbar {
	width: 20rem;
	float: right;
	font-weight: bold;
	pointer-events: all;
}

ul.navbar-nav {
	display: flex;
}

ul.navbar-nav>li {
	flex-grow: 1;
}

ul.navbar-nav>li>a {
	position: relative;
	display: block;
	text-align: right;
	margin-top: 1rem;
	margin-left: 1rem;
	color: #FFF;
	transition: transform .3s, opacity .5s;
	font-size: .9rem;
	text-decoration: none;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a.active {
	transform: scale(1.2);
}

ul.navbar-nav:hover>li>a.active {
	transform: none;
}

ul.navbar-nav:hover>li>a:hover {
	transform: scale(1.2);
}

main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transform: translateY(100vh);
	transition: transform 1s 1.4s;
}

.page-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: filter .5s;
}

img.cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

img.cover.blur {
	opacity: 0;
	transition: opacity 1s;
}

.section-wrapper {
	display: flex;
	width: 400vw;
	transition: transform .5s;
}

.section-wrapper.index {
	transform: translateX(0);
}

.section-wrapper.resume {
	transform: translateX(-100vw);
}

.section-wrapper.mywork {
	transform: translateX(-200vw);
}

.section-wrapper.about {
	transform: translateX(-300vw);
}

section {
	flex-grow: 1;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

section>.container {
	padding-right: 22rem;
}

.panel {
	padding: 1rem 4rem;
	min-height: 100vh;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .6);
	padding-bottom: 2rem;
	margin-bottom: 5rem;
}

.resume-page {
	background: #FFF;
	margin-left: -2rem;
	margin-right: -2rem;
}

.row {
	position: relative;
	overflow: hidden;
}

.row-block-left,
.row-block-right {
	position: relative;
	float: left;
	width: 48%;
	box-sizing: border-box;
	color: #FFF;
	font-weight: bold;
}

.row-block-right {
	float: right;
}

.row-block-left:before,
.row-block-right:before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 200%;
	height: 100%;
	background: #81D8D0;
	transform: skewX(-39deg);
}

.row-block-right.header:before,
.row-block-left.footer:before {
	background: #37474f;
}

.row-block-right:before {
	left: 0;
}

.row-block-left.header,
.row-block-right.header {
	height: 8rem;
}

.row-block-left.header {
	padding: 2.5rem 2rem;
}

.row-block-right.header {
	padding: 1rem 2rem;
	padding-left: 5rem;
}

.row-block-left.footer,
.row-block-right.footer {
	padding: 1rem;
}

.row-block-title {
	position: relative;
	font-size: 2rem;
	line-height: 3rem;
	margin: 0;
}

.footer>.row-block-title {
	position: relative;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0;
}

.row-avatar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.row-avatar>img {
	position: relative;
	display: block;
	width: 6rem;
	height: 6rem;
	margin: 1rem auto;
	z-index: 10;
}

.skill-list {
	position: relative;
	margin-left: .5rem;
}

.skill-item {
	font-size: .8rem;
	line-height: 1rem;
	margin: .8rem 0;
}

.skill-item>span {
	display: inline-block;
	width: 6rem;
}

.skill-bar {
	display: inline-block;
	width: 6rem;
	height: .6rem;
	background: #FFF;
	vertical-align: middle;
}

.skill-bar:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: pink;
	transform-origin: left;
	transition: transform .5s 1s;
}

.b90:after {
	transform: scaleX(.9);
}

.b90:after {
	transform: scaleX(.9);
}

.b80:after {
	transform: scaleX(.8);
}

.b70:after {
	transform: scaleX(.7);
}

.b60:after {
	transform: scaleX(.6);
}

.row-block-right.footer>.row-block-title {
	margin-left: 4rem;
}

.social-list {
	position: relative;
	margin-left: 4.5rem;
}

.social-item {
	font-size: .8rem;
	line-height: 1rem;
	margin: .4rem 0;
}

.social-item>.icon {
	float: left;
	font-size: 1.4rem;
	margin-top: .1rem;
	margin-right: .5rem;
}

.social-item>h3 {
	margin: 0;
	font-size: .8rem;
	line-height: .8rem;
}

.social-item>a {
	font-size: .6rem;
	line-height: .8rem;
	display: block;
	color: #fff;
	font-weight: normal;
}

.row-block-info {
	position: relative;
	font-size: 1rem;
	line-height: 1.5rem;
}

.row-block-info>a {
	color: #fff;
}

.row.main {
	padding-bottom: 2rem;
}

.row-block {
	padding: 0 2rem;
	color: #727272;
}

.row-header {
	margin-top: 1.5rem;
	background-size: 5% 100%;
	background-image: linear-gradient(90deg, transparent 30%, #FFF 30%, #FFF 70%, transparent 70%), linear-gradient(0deg, transparent 48%, #AAA 48%, #AAA 52%, transparent 52%);
}

.row-header>span {
	background: #FFF;
	padding-right: 2rem;
}

.row-list-item {
	display: table;
	margin-top: 1rem;
}

.row-list-column {
	display: table-cell;
}

.row-list-column.title {
	width: 10rem;
	line-height: 1rem;
}

.row-list-column.title>h3,
.row-list-column.info>h3 {
	margin: 0;
	line-height: 1.2;
	margin-bottom:.3rem;
}

.row-list-column.title>time,
.row-list-column.info>p {
	font-size: .8rem;
	line-height: 1.5;
}

.row-list-column.symbol {
	width: 2rem;
	text-align: center;
	font-size: .7rem;
	opacity: .5;
}

.avatar-img {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

footer.page-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4rem;
	padding: .8rem 0;
	box-sizing: border-box;
	z-index: 1024;
	line-height: 1rem;
	pointer-events: none;
	transform: translateY(4rem);
	transition: transform 1s 1.8s, background .5s;
}

.footer-lang {
	height: 1.4rem;
}

.footer-present {
	text-align: right;
	color: #424242;
	opacity: .6;
	font-size: .7rem;
	opacity: .6;
	pointer-events: all;
}

ul.lang-list {
	width: 16rem;
	float: right;
	display: flex;
	pointer-events: all;
}

ul.lang-list>li {
	flex-grow: 1;
}

ul.lang-list>li>a {
	position: relative;
	display: block;
	text-align: right;
	margin-left: .5rem;
	color: #424242;
	transition: opacity .3s;
	opacity: .6;
	font-size: .75rem;
	text-decoration: none;
}

ul.lang-list>li>a:hover,
ul.lang-list>li>a.selected {
	opacity: 1;
}

ul.lang-list:hover>li>a.selected {
	opacity: .6;
}

ul.lang-list:hover>li>a:hover {
	opacity: 1;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: 100%;
	background-repeat: no-repeat;
}

.icon-right-arrow {
	background-image: url('/icons/double_arrow.svg')
}

.icon-social{
	width: 1.6em;
	height: 1.6em;
	vertical-align: middle;
	margin-right:.5rem;
}

.icon-facebook {
	background-image: url('/icons/facebook.svg')
}

.icon-twitter {
	background-image: url('/icons/twitter.svg')
}

.icon-behance {
	background-image: url('/icons/behance.svg')
}

.icon-linkedin {
	background-image: url('/icons/linkedin.svg')
}

.icon-facebook-white {
	background-image: url('/icons/facebook_white.svg')
}

.icon-twitter-white {
	background-image: url('/icons/twitter_white.svg')
}

.icon-behance-white {
	background-image: url('/icons/behance_white.svg')
}

.icon-linkedin-white {
	background-image: url('/icons/linkedin_white.svg')
}

.color-tiffany {
	color: #81D8D0;
}

.back-tiffany {
	background: #81D8D0;
}

body.show img.cover.blur {
	opacity: 1;
}

body.show header.page-header,
body.show main,
body.show footer.page-footer {
	transform: none;
}

.resume-page {
	transition: opacity .5s .5s;
	opacity: 0;
}

.row-block-left {
	transition: transform 1s .5s;
	transform: translateX(-100vw);
}

.row-block-right {
	transition: transform 1s .5s;
	transform: translateX(100vw);
}

.row-block {
	transition: transform 1s 1s, opacity 1s 1s;
	transform: translateY(3rem);
	opacity: 0;
}

.row-block:nth-child(1) {
	transition-delay: 1s;
}

.row-block:nth-child(2) {
	transition-delay: 1.25s;
}

.row-block-left.footer,
.row-block-right.footer {
	transition-delay: 1.5s;
}

.section-wrapper.resume .resume-page,
.section-wrapper.resume .row-block-left,
.section-wrapper.resume .row-block-right,
.section-wrapper.resume .row-block {
	transform: none;
	opacity: 1;
}

@media only screen and (max-width: 5120px) {
	html {
		font-size: 64px;
	}
}

@media only screen and (max-width: 4480px) {
	html {
		font-size: 56px;
	}
}

@media only screen and (max-width: 3840px) {
	html {
		font-size: 48px;
	}
}

@media only screen and (max-width: 3840px) {
	html {
		font-size: 40px;
	}
}

@media only screen and (max-width: 3200px) {
	html {
		font-size: 32px;
	}
}

@media only screen and (max-width: 2560px) {
	html {
		font-size: 24px;
	}
}

@media only screen and (max-width: 1920px) {
	html {
		font-size: 20px;
	}
}

@media only screen and (max-width: 1600px) {
	html {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1000px) {
	.panel {
		padding: 1rem 2rem;
	}
	.resume-page {
		margin-left: -1rem;
		margin-right: -1rem;
	}
	.row-block-title {
		font-size: 1.2rem;
		line-height: 2.5rem;
	}
	.row-block-info {
		font-size: .8rem;
		line-height: 1.2rem;
	}
	.skill-bar {
		margin-top: .4rem;
		margin-left: .5rem;
		display: block;
	}
	.social-item>h3 {
		line-height: 1.8rem;
	}
	.row-block-right.footer>.row-block-title {
		margin-left: 6rem;
	}
}

@media only screen and (max-width: 860px) {
	section>.container {
		padding: 0;
	}
	header.page-header {
		text-align: center;
		background: rgba(0, 0, 0, .5);
	}
	nav.navbar {
		width: 18rem;
		display: inline-block;
		float: none;
	}
	ul.navbar-nav>li>a {
		margin: 1rem 0;
		text-align: center;
	}
	.panel {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	footer.page-footer {
		text-align: center;
		background: rgba(255, 255, 255, .9);
	}
	.footer-present {
		text-align: center;
	}
	ul.lang-list {
		margin: 0 auto;
		width: 16rem;
		float: none;
		display: flex;
	}
	ul.lang-list>li>a {
		margin: 0 auto;
		text-align: center;
	}
	@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
		header.page-header {
			-webkit-backdrop-filter: saturate(180%) blur(1rem);
			backdrop-filter: saturate(180%) blur(1rem);
		}
		footer.page-footer {
			-webkit-backdrop-filter: saturate(180%) blur(1rem);
			backdrop-filter: saturate(180%) blur(1rem);
			background: rgba(255, 255, 255, .5);
		}
	}
}

@media only screen and (max-width: 480px) {
	.row-block-left.header {
		padding: 1.5rem 1rem;
		word-break: break-all;
	}
	.row-block-right.header {
		padding: 1rem;
	}
	.row-block-right.header>.row-block-title {
		margin-left: 1rem;
		margin-bottom: .5rem;
	}
	.row-block {
		padding: 0 1rem;
	}
	.row-list-column.title {
		float: left;
		display: block
	}
	.row-list-column.symbol {
		float: left;
		display: block;
		line-height: 3rem;
	}
	.row-list-column.info {
		display: block;
		margin-top: 3rem;
		padding-left: 1rem;
	}
	.row-block-left.footer,
	.row-block-right.footer {
		width: 100%;
		float: none;
	}
	.row-block-left.footer:before,
	.row-block-right.footer:before {
		transform: none;
	}
	.row-block-right.footer>.row-block-title {
		margin-left: 0;
	}
	.skill-bar {
		margin: 0;
		display: inline-block;
	}
	.social-list {
		margin-left: 1rem;
	}
	.social-item>h3 {
		line-height: .8rem;
	}
	.row-avatar {
		display: none;
	}
}
