
.nav { background: #fff; position: relative;}
.mobNav { display: block;}
.mobNav .toolBar { display: -webkit-box; display: -ms-flexbox; display: flex;/*	height: 8vw;*/ overflow: hidden;}
.menuBtn:active { opacity: 0.8;}
.menuBtn.close { background: url(../images/close.png) center center no-repeat; background-size:auto 60% ;}

.dropdown { position: absolute; left: 0; top:100%; width:100%; height:100vh; background: rgba(0, 0, 0, 0.8); z-index: 999; display: none;}
.dropdown .menu { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding:3%;}
.menu li { line-height:3;}
.menu li:last-child a { border-bottom: 0;}
.menu a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-right: none; text-indent: 2vw; border-bottom: 1px solid #ddd; color:#FFF;}
.dropdown.show { display: block;}
.top{position:absolute; top:calc(50% - 20px); right:2%;}
.top a{ display:block; float:left; width:40px; margin-right:15px;}
.menuBtn { /*position:absolute; top:calc(50% - 20px); right:3%;*/ float:right; height:40px; width:40px; background:url(../images/bar.png) center center no-repeat; background-size: auto 80%; border: none; outline: none; border-radius: 1px;}
